input {
  -webkit-appearance: none;
  box-shadow: none !important;
  outline: none !important;
  border: none;
  color: #555;
}

input:focus {
  caret-color: #009688;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.input {
  padding: 15px;
  margin: 10px;
  outline: none !important;
  width: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
}

.input::placeholder {
  color: #cccccc;
}

.button {
  width: 180px;
  height: 50px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #009688;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: ease 200ms;
}

.buttonDisabled {
  width: 180px;
  height: 50px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #cccccc;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: ease 200ms;
}

.button:hover {
  background-color: #4DB6AC;
  transition: ease 200ms;
}

.orderTitle {
  font-size: 32px;
  color: #666666;
}

.orderGreenBottom {
  width: 150px;
  height: 2px;
  background-color: #009688;
  margin-top: 15px;
}

.totalOrder {
  display: flex;
  flex-direction: row;
}

.totalOrderText {
  color: #999999;
  font-weight: 500;
  margin-top: 20px;
}

.contactInfo {
  margin: 40px 20px 0;
  font-size: 14px;
  color: #808080;
}

.orderInfo {
  margin-top: 30px;
  font-size: 16px;
  color: #808080;
  width: 700px;
}

.orderMessage {
  margin: 10px;
  color: #333333;
  height: 20px;
}

.quantityOrder {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 450px;
  padding: 15px;
  margin: 10px;
  outline: none !important;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  height: 22px;
}

@media only screen and (max-width: 1000px) {
  .input {
    width: 80%
  }
  .quantityOrder {
    width: 80%
  }
  .orderInfo {
    margin-top: 30px;
    font-size: 16px;
    color: #808080;
    width: 80%
  }
}
